[Unit]
Description=Hanzo Ingress
Documentation=https://github.com/hanzoai/ingress
#After=network-online.target
#AssertFileIsExecutable=/usr/bin/hanzo-ingress
#AssertPathExists=/etc/ingress/ingress.toml

[Service]
# Run the ingress as its own user (create new user with: useradd -r -s /bin/false -U -M ingress)
#User=ingress
#AmbientCapabilities=CAP_NET_BIND_SERVICE

# configure service behavior
Type=notify
#ExecStart=/usr/bin/hanzo-ingress --configFile=/etc/ingress/ingress.toml
Restart=always
WatchdogSec=1s

# lock down system access
# prohibit any operating system and configuration modification
#ProtectSystem=strict
# create separate, new (and empty) /tmp and /var/tmp filesystems
#PrivateTmp=true
# make /home directories inaccessible
#ProtectHome=true
# turns off access to physical devices (/dev/...)
#PrivateDevices=true
# make kernel settings (procfs and sysfs) read-only
#ProtectKernelTunables=true
# make cgroups /sys/fs/cgroup read-only
#ProtectControlGroups=true

# allow writing of acme.json
#ReadWritePaths=/etc/ingress/acme.json
# depending on log and entrypoint configuration, you may need to allow writing to other paths, too

# limit number of processes in this unit
#LimitNPROC=1

[Install]
WantedBy=multi-user.target
