apiVersion: v1
kind: Service
metadata:
  name: hanzo-ingress
  namespace: hanzo
  labels:
    app: hanzo-ingress
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: web
  - name: https
    port: 443
    targetPort: websecure
  selector:
    app: hanzo-ingress
